// Base scaffolding for Bootstrap & Apigee Kickstart
// -----------------------------------------------------------------------------
@import "../base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

@import "../base/functions";
@import "../base/variables";
@import "../base/mixins";
