// Style for the Api card component.
// -----------------------------------------------------------------------------
.api-card {

  > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $body-color;
    height: 100%;
  }
}
