// Style for the Card component.
// -----------------------------------------------------------------------------

.card {
  border-radius: 4px;
  transition: $transition-base;

  &.bg-light {
    border: 0;
  }

  > a {
    color: currentColor;
    text-decoration: none;
  }

  &-img-top {
    padding: 2px;

    img {
      border-radius: 4px 4px 0 0;
    }
  }

  &-body {
    p {
      font-size: .75rem;
      letter-spacing: 0.4px;
      line-height: 1.5;
    }

    h4,
    .card-title {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.11px;
    }
  }

  &-footer {
    border-radius: 0 0 4px 4px;
    background-color: transparent;
    color: $primary;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: $transition-base;
  }

  &:focus,
  &:hover {
    box-shadow: 0 2px 8px 0 rgba($black, 0.3);

    .card-footer {
      background-color: $primary;
      color: $white;
    }
  }
}
