// Alert
// -----------------------------------------------------------------------------

.alert {
  font-size: .875rem;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 0;

  .container-fluid &,
  .container & {
    border-radius: $alert-border-radius;
    margin-bottom: $alert-margin-bottom;
  }
}
