// Style for comment
// -----------------------------------------------------------------------------
.comment {
  font-size: .875rem;

  .user {
    width: 48px;
    height: 48px;
    background-color: white;
  }
}
