{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <div class="nav-wrapper black-text text-lighten-1">
    <div class="col s12">
      <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      {% for item in breadcrumb %}
        {% if item.url %}
          <a class="breadcrumb black-text text-lighten-1" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}