// Style for FAQs page.
// -----------------------------------------------------------------------------

.view-faq {
  .item-list {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li:last-child {
        border-bottom: solid 1px $gray-300;
      }
    }
  }
}
