{#
/**
 * @file
 * Default theme implementation to display an Apigee Edge Api Doc.
 *
 * Available variables:
 * - entity: The Apigee Edge Api DOc entity.
 * - content: All items. Use {{ content }} to print them all,
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
{% extends 'apigee-entity.html.twig' %}
{% block content %}

  {% set title %}
    <h2 class="card-title">{{ entity.label }}</h2>
  {% endset %}

  {% include '@apigee-kickstart/card/card.twig' with {
    classes: ['api-card'],
    url: content.field_link['#url'],
    title: title,
    image: content.field_image,
    body: content|without('name', 'field_image', 'field_link', 'spec'),
    footer: content.field_link['#title'],
    hover_shadow: true
  } %}
{% endblock %}
