.block {
  > h2 {
    font-size: 1.25rem;
  }

  .main & {
    margin-bottom: map-get($spacers, 7);
  }
}

.block--searchform {
  align-items: stretch;
}

.block--apigee-kickstart-title {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    background-color: #f9f9f9 !important;
}