.btn {
  font-family: 'Roboto-Medium', $font-family-sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

input.btn {
  text-transform: uppercase;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 4);

  + .btn {
    margin-left: 0.813rem;
  }
}

[class*='btn-outline-'] {
  border-width: 2px;
  border-color: var(--ak-accent-color);
  color: var(--ak-accent-color);
}

.btn-lg {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 150px;
  border-radius: 2px;
}

.btn-link {
  color: var(--ak-accent-color);

  &:hover, &:focus {
    color: var(--ak-accent-color-dark);
  }
}

.btn-primary {
  background-color: var(--ak-accent-color);
  border-width: 2px;
  border-color: var(--ak-accent-color);
  color: var(--ak-accent-color-light);

  &:hover, &:focus {
    background-color: var(--ak-accent-color-dark);
    border-color: var(--ak-accent-color-dark);
  }
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: var(--ak-accent-color-dark);
  color: var(--ak-accent-color-dark);
}
