.text {
  a {
    font-weight: 500;
  }

  h2, h3, h4, h5, h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.215rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  ol, ul, dt {
    margin-bottom: 2rem;
  }

  li {
    margin: 0.5rem 0;
  }
}
