// Rate Plan Teaser
// -----------------------------------------------------------------------------

.rate-plan--view-mode-teaser {
  border: 0;

  .pricing-and-plans & {
    width: 100%;
  }

  .card-body {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 1 0 100%;
    }
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: normal;
    margin-bottom: 1rem;

    a {
      color: currentColor;
    }
  }

  .btn--subscribe {
    align-self: flex-end;
  }
}

// Rate plan field defaults.
.rate-plan {
  .field {
    font-size: 0.75rem;
  }

  .field__label {
    margin-bottom: 0.625rem;
    line-height: 1;
  }
}

// Product field.
.rate-plan__packageproducts {
  .field__items {
    display: flex;
    flex-flow: row wrap;
  }

  .field__item:not(:last-child)::after {
    content: ',';
    margin-right: 1ch;
  }
}

// Rate Plan Full
// -----------------------------------------------------------------------------
.rate-plan--view-mode-full {

  .field {
    font-size: 0.875rem;
  }

  .rate-plan__card {

    h3 {
      margin-bottom: 1.25rem;
    }

    .field {
      font-size: 1rem;

      + .field {
        margin-top: .5rem;
      }
    }

    .field--inline {
      display: flex;
      align-items: center;

      .field__label {
        margin: 0 .25rem 0 0;

        &:after {
          content: ":";
          position: relative;
          left: -3px;
        }
      }
    }
  }

  .rate_plan__detail-card {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    .field {
      margin: 0 0 1rem;

      @include media-breakpoint-up(md) {
        width: 50%;
      }

      + .field {
        margin-top: 0;
      }
    }
  }

  form {

    .field--name-startdate {
      font-size: 0.875rem;

      h4 {
        font-size: 1rem;
      }

      .form-item {
        margin-bottom: .25rem;
      }

      .form-control {
        background-color: $white;
      }
    }
  }
}
