// Rate Plan Teaser
// -----------------------------------------------------------------------------

.rate-plan--view-mode-teaser {
  border: 0;

  .pricing-and-plans & {
    width: 100%;
  }

  .card-body {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 1 0 100%;
    }
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: normal;
    margin-bottom: 1rem;

    a {
      color: currentColor;
    }
  }

  .btn--subscribe {
    align-self: flex-end;
  }
}

// Rate plan field defaults.
.rate-plan {
  .field {
    font-size: 0.75rem;
  }

  .field__label {
    margin-bottom: 0.625rem;
    line-height: 1;
  }
}

// Product field.
.rate-plan__packageproducts {
  .field__items {
    display: flex;
    flex-flow: row wrap;
  }

  .field__item:not(:last-child)::after {
    content: ',';
    margin-right: 1ch;
  }
}
