// Page: Breadcrumbs
// -----------------------------------------------------------------------------

.page__breadcrumbs {
  background-color: var(--ak-accent-color);
  font-size: 0.875rem;

  a {
    color: var(--ak-accent-color-light);
  }
}
