// Page: Breadcrumbs
// -----------------------------------------------------------------------------

.page__breadcrumbs {
  background-color: $blue;
  font-size: 0.875rem;

  a {
    color: $white;
  }
}
