// Search Results Listing
// -----------------------------------------------------------------------------

.search-results__list,
.search-results__item {
  list-style: none;
  padding: 0;
}


// Search Result Content
// -----------------------------------------------------------------------------

.search-result {
  &__type {
    background: none;
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0;
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__meta {
    font-size: 0.75rem;
  }
}
