// Form: Editable
// -----------------------------------------------------------------------------
.form-editable {

  .wrapper {
    background-color: $lighter;
    border-radius: 2px;
    padding: 1.5rem;
    position: relative;
  }

  strong {
    margin-right: .25rem;
  }

  .form-wrapper {
    display: flex;
    align-items: center;

    + .form-wrapper {
      margin-top: 1rem;
    }

    .form-group,
    .form-item {
      max-width: 50%;
      margin: 0;
    }

    .form-control {
      background-color: $white;
    }
  }

  .form-item-edit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: $gray-500;

    &:hover {
      color: var(--ak-accent-color);
    }

    .fa-square,
    .fa-check-square {
      display: none !important;
    }

    label {

      svg {
        position: relative;
      }
    }
  }
}
