// Styles for the Views exposed form.
// -----------------------------------------------------------------------------
.views-exposed-form {
  border-radius: 4px;
  background-color: $white;
  overflow: hidden;
  font-size: 0.875rem;
  padding-top: 0.5rem;

  fieldset,
  details {
    margin: 0 !important;
  }

  fieldset {
    border: 0 !important;

    legend {
      border: 0 !important;
      line-height: 1.2;

      span {
        font-size: 1.25rem;
      }
    }

    .fieldset-wrapper {
      padding-top: 0 !important;
    }
  }

  .form-actions {
    font-size: .875rem;
    letter-spacing: 1px;
    margin: 0 !important;

    input {
      width: 100%;
      padding: 0.75rem 1.6rem;
      font-size: .875rem;
      letter-spacing: 1px;
      background-color: transparent;
      color: var(--ak-accent-color);
      border: 0;
      border-top: 1px solid $card-border-color;
      text-align: left;
      text-transform: none;

      &:hover {
        text-decoration: none;
      }

      &.btn-reset {
        padding-left: 3.2rem;
        background: url("../images/icons/close.svg") no-repeat 25px center;
        margin: 0;
        border-radius: 0;
      }
    }
  }
}
