{#
/**
 * @file
 * Template for field_title on a 'Card group' Paragraph.
 */
#}
{%- for item in items -%}
  <h1 class="card-group__title text-center display-4 pb-5">{{- item.content -}}</h1>
{%- endfor -%}

