{#
/**
 * @file
 * Template for field_title on a 'Callout group' Paragraph.
 */
#}
{%- for item in items -%}
  <h2 class="callout-group__title text-center pb-5">{{- item.content -}}</h2>
{%- endfor -%}

