{#
/**
 * @file
 * Template for field_link on a Button Paragraph.
 */
#}
{% for item in items %}

  {# Assign classes, including selected button style. #}
  {% set classes = [
    'btn',
    'btn-' ~ element['#object'].field_button_style.value|default('primary')|clean_class,
  ] %}

  {# Create attributes object, retaining UI/programatically added attributes.#}
  {% if item.content['#options'].attributes %}
    {% set link_attributes = create_attribute(item.content['#options'].attributes) %}
  {% else %}
    {% set link_attributes = create_attribute() %}
  {% endif %}

  <a{{ link_attributes.addClass(classes) }} href="{{ item.content['#url'].toString }}">{{- item.content['#title'] -}}</a>

{% endfor %}
