{#
/**
 * @file
 * Template for a 'Text + Image' Paragraph.
 */
#}

{% embed 'paragraph.html.twig' %}
  {% block content %}
    <div class="container-fluid px-0">
      <div class="text-image__wrapper">
        <div class="text-image__text py-6">
          {{ content|without('field_image') }}
        </div>
        {% if content.field_image|render %}
          <div class="text-image__image">
            {{ content.field_image }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
