// Style for the secret component
// -----------------------------------------------------------------------------
.secret {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
  }

  &__toggle {
    color: currentColor;
    margin-left: .5rem;

    &:hover {
      color: var(--ak-accent-color);
    }
  }

  &__copy {
    margin-left: auto;

    button {
      color: var(--ak-accent-color);
      font-size: 1.2rem;

      &:hover {
        color: var(--ak-accent-color-dark);
      }
    }
  }
}
