
.breadcrumb-item {
  a {
    font-size: 0.875rem;
    letter-spacing: 1px;
  }

  + .breadcrumb-item::before {
    padding-left: 0.375rem;
  }
}

// Color customization overrides
// -----------------------------------------------------------------------------

.breadcrumb {
  @include var(background-color, 'ak-accent-bg');
}

.breadcrumb-item {
  + .breadcrumb-item {
    &::before {
      @include var(color, 'ak-accent-color');
      color: $breadcrumb-divider-color;
    }
  }

  &.active {
    @include var(color, 'ak-accent-color');
  }
}
