.breadcrumb {
  background-color: var(--ak-accent-color);
  padding: 0;
}

.breadcrumb-item {
  padding-bottom: $breadcrumb-padding-y;
  padding-top: $breadcrumb-padding-y;
  display: flex;

  &.active {
    color: var(--ak-accent-color-light);
  }

  + .breadcrumb-item::after {
    padding-right: 0.375rem;
  }

  a {
    font-size: 0.875rem;
    letter-spacing: 1px;
  }

  .field {
    display: flex;

    .field__label {
      margin-right: 1ch;
    }
  }
}
