
.breadcrumb-item {
  a {
    font-size: 0.875rem;
    letter-spacing: 1px;
  }

  + .breadcrumb-item::after {
    padding-right: 0.375rem;
  }
}

// Color customization overrides
// -----------------------------------------------------------------------------

.breadcrumb {
  background-color: var(--ak-accent-color);
}

.breadcrumb-item {
  &.active {
    color: var(--ak-accent-color-light);
  }
}
