// Form
// -----------------------------------------------------------------------------
.form-control,
.form-select,
.custom-file label {
  background-color: $lighter;
  border-color: $gray-300;
  border-radius: 4px;
  padding: .25rem 1rem;
  height: 38px;
}

.form-text {
  letter-spacing: .4px;
  color: $gray-600;
}

label {
  vertical-align: middle;
}

.form-required__indicator {
  display: inline-block;
  font-size: 0.5rem;
  vertical-align: text-top;
}

fieldset,
details {

  summary {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .1px;
  }

  &.card:hover {
    box-shadow: none;
  }

  .form-control,
  .form-select {
    background-color: $light;
    border: 0;
  }
}

.custom-file {
  height: 38px;

  &-input {
    height: 38px;
  }

  &-label {
    flex-direction: row-reverse;

    &:after {
      height: 36px;
      line-height: 20px;
      background-color: $light;
    }
  }
}

.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}
