// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {
  font-size: 0.875rem;

  a {
    color: $white;
  }
}

.footer {
  background: rgba($dark-blue, 0.9);

  .nav {
    margin-left: -0.5rem;
  }
}

.copyright {
  background: $dark-blue;
}
